h1
{
	color: white;
}
h2
{
	size: 10px;
	font: 1em "Fira Sans", sans-serif;
}

body
{
	background-color: #1C1C1C;
}

#carte
{
	width: 1280px;
	margin: 0 auto;
	background-color: #212121;
	text-align: center;
	align-content: center;
	font: 1em "Fira Sans", sans-serif;
	color: white;
}

ul li
{
	list-style-type: none;
}

#BarreSup
{
	width: 1560px;
	margin: 0;
	background-color: white;
	align-content: center;
	vertical-align: center;
	font: 1em "Fira Sans", sans-serif;
	margin-bottom: 0px;
}
.container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 0px;
}
#laterale
{
	width: 250px;
	margin: 0px;
	background-color: #212121;
	align-content: center;
	text-align: auto 0;
	font: 1em "Fira Sans", sans-serif;
	color: white;
}
#link 
{
	color: #212121;
}
a
{
	color: white;
}
#red
{
	color: red;
}
#green 
{
	color: green;
}
