h1
{
	color: whitesmoke;
}

body
{
	background-color: #082032;
}

#carte
{
	width: 1000px;
	margin: 0 auto;
	background-color: #2E4C6D;
	text-align: center;
	background-image: linear-gradient(rgba(24, 29, 49, 0.5), rgba(22, 24, 83, 0.5));
	align-content: center;
	font: 1em "Fira Sans", sans-serif;
	color: white;
}

ul li
{
	list-style-type: none;
}

#gauche
{
	width: 200px;
	margin: 0 initial.;
	background-color: red;
	text-align: center;
	align-content: center;
	vertical-align: center;
}